@import 'reset.scss';
@font-face {
  font-family: "Ubuntu",
  url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
body{
	position: relative;
	font-size: 12px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	color: #213A96;
}
.wrapper{
		width: 60%;
		margin: 0 auto;
}

.header{
	position: relative;
	background: url('../img/header_background.png');
	background-size: 100% 100%;
	z-index: 1;
	.flag{
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		height: 100%;
		width: inherit;
	}
	.logo_and_menu{
		display: flex;
		height: 75px;
		align-items: center;
		.logo{
			display: flex;
			.img_logo{
				width: 40px;
				height: 40px;
				img{
					min-width: 100%;
					height: 100%;
				}
			}
			.logo_title{
				text-transform: uppercase;
				h1{
					font-size: calc(10px + 12*(100vw / 1920));
					font-weight: 900;
				}
				p{
					font-size: calc(4px + 10*(100vw / 1920));
					.flag_france{
						float: right;
						margin-left: 5px;
						display: block;
						width: 20px;
						height: 10px;
						background: linear-gradient( 90deg, #213A96, #fff, #F40050 );
					}
				}
			}
		}
		.navbar{
			.container-fluid{
				justify-content: flex-end;
				.navbar-toggler{
					position: fixed;
					z-index: 2;
				}
				.collapsing{
					position: fixed;
					top: 0;
					left: 0;
					z-index: 1;
					background: #7189C2;
					height: 0vh;
				}
				.navbar-collapse{
					justify-content: flex-end;
				}
				.navbar-nav{
					.nav-item{
						display: flex;
						align-items: center;
					}
					.nav-link{
						font-size: calc(4px + 10*(100vw / 1920));
						color: #213A96;
						transition: all 0.5s;
						&:hover{
							transition: all 0.5s;
							text-shadow: 0px 0px 2px #213A96;
						}
					}
				}
				.logo_mobile{
					display: none;
				}
				.login_cart{
					display: none;
				}
				.login{
					display: flex;
					align-items: center;
					height: 40px;
					.cart{
						border: none;
						position: relative;
						width: 40px;
						height: 40px;
						display: flex;
						align-items: center;
						justify-content: center;
						background: linear-gradient( 180deg, #F40050, #FF7E76);
						transition: all .3s;
						&:hover{
							transition: all .3s;
							box-shadow: 0px 0px 10px #F40050;
						}
						.quantity{
							width: 15px;
							height: 15px;
							position: absolute;
							top: 2px;
							right: 2px;
							border-radius: 100%;
							background: #213A96;
							color: #fff;
							font-size: 8px;
							line-height: 15px;
							text-align: center;
						}
					}
					.cart_text{
						background: linear-gradient( 90deg, #fff, rgba(255, 255, 255, .5));
						height: 100%;
						display: flex;
						align-items: center;
						.cart_link{
							padding: 0 5px;
							font-size: calc(6px + 6*(100vw / 1920));
							text-decoration: none;
						}
					}
					.money{
						a{
							font-size: calc(6px + 10*(100vw / 1920));
							text-decoration: none;
							color: #7189C2;
							display: block;
							line-height: 40px;
							padding-left: 5px;
							background: linear-gradient( 90deg, #fff, rgba(255, 255, 255, .5));
						}
						span{
							color: #7189C2;
							font-size: 10px;
						}
						
					}
				}
				.cart{
					display: none;
					align-items: center;
					.logo-link{
					font-size: calc(4px + 10*(100vw / 1920));
								height: 40px;
								display: flex;
								align-items: center;
								text-decoration: none;
								color: #213A96;
								background: linear-gradient( 90deg, #fff, rgba(255, 255, 255, .3));	
							}
						}
			}
			.contacts{
				display: none;
			}
		}
	}
	.content_header{
		display: flex;
		justify-content: space-between;
		.left_block{
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			.contacts{
				display: flex;
				.support_img{
					width: 80px;
					height: 80px;
					background: linear-gradient( 180deg, #fff, rgba(255, 255, 255, .5));
					text-align: center;
					padding: 5px;
					.support_title{
						font-size: calc(6px + 8*(100vw / 1920));
						line-height: 1.2em;
					}
					.support_time{
						font-size: 10px;
					}
				}
				.support_tell{
					padding: 10px;
					font-size: calc(6px + 10*(100vw / 1920));
					font-weight: 700;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}
			}
			.cart_block{
				display: flex;
				align-items: center;
				height: 40px;
				.cart{
					border: none;
					position: relative;
					width: 40px;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: linear-gradient( 180deg, #F40050, #FF7E76);
					transition: all .3s;
					&:hover{
						transition: all .3s;
						box-shadow: 0px 0px 10px #F40050;
					}
					.quantity{
						width: 15px;
						height: 15px;
						position: absolute;
						top: 2px;
						right: 2px;
						border-radius: 100%;
						background: #213A96;
						color: #fff;
						font-size: 8px;
						line-height: 15px;
						text-align: center;
					}
				}
				.cart_text{
					background: linear-gradient( 90deg, #fff, rgba(255, 255, 255, .5));
					height: 100%;
					display: flex;
					align-items: center;
					.cart_link{
						padding: 0 5px;
						font-size: calc(6px + 6*(100vw / 1920));
						text-decoration: none;
					}
				}
				.money{
					padding-left: 5px;
					p{
						font-size: calc(6px + 14*(100vw / 1920));
						font-weight: 900;
						line-height: 1.2em;
					}
					span{
						color: #7189C2;
						font-size: 10px;
					}
					
				}
			}
		}
		.baner{
			padding-left: 10px;
			.slide{
				height: 100%;
				.carousel-inner{
					height: 100%;
					.carousel-item{
						height: 100%;
						background: url(../img/banner_header.png);
						background-size: 100% 100%;
						.content_banner{
							display: flex;
							height: 100%;
							justify-content: space-around;
							align-items: flex-end;
							.img{
								width: 20%;
								img{
									width: 100%;
									height: 100%;
									object-fit: contain;
								}
							}
							.content{
								padding-bottom: 10%;
								.title_slide{
									margin-left: -10%;
									font-size: calc(8px + 14*(100vw / 1920));
									color: #F40050;
								}
								.slide_text{
									font-size: calc(8px + 36*(100vw / 1920));
									color: #213A96;
								}
							}
						}
					}
					.num_1{
						position: relative;
						background: url(../img/banner_header.png);
						background-size: 100% 100%;
						&::before{
							content:'';
							position: absolute;
							top: 0;
							left: -40px;
							bottom: 0;
							height: 100%;
							width: 30%;
							transform: skewX(25deg);
							background: rgba(33, 58, 150, .5);
							z-index: 1;
						}
						&::after{
							content:'';
							position: absolute;
							top: 0;
							left: 20%;
							bottom: 0;
							height: 100%;
							width: 7%;
							transform: skewX(25deg);
							background: #fff;
							z-index: 1;
						}
						.content_banner{
							display: flex;
							height: 100%;
							justify-content: space-around;
							align-items: flex-end;
							.img{
								width: 20%;
								img{
									width: 100%;
									height: 100%;
									object-fit: contain;
									position: relative;
									z-index: 2;
								}
							}
							.content{
								position: relative;
								z-index: 2;
								display: flex;
								flex-direction: column;
								height: 100%;
								padding: 0%;
								margin-left: -20px;
								.box{
									display: flex;
									height: 100%;
									align-items: center;
									font-size: calc(3px + 10*(100vw / 1920));
									font-weight: 700;
									color: #213A96;
									.box_img_1{
										width: 8%;
									}
									.line{
										display: block;
										margin: 0 10px;
										min-width: 20px;
										max-width: 20px;
										height: 2px;
										background: #F40050;
									}
									&:nth-child(1){
										padding-left: 0%;
									}
									&:nth-child(2){
										padding-left: 5%;
									}
									&:nth-child(3){
										padding-left: 10%;
									}
									&:nth-child(4){
										padding-left: 15%;
									}
								}
							}
						}
					}
					.num_2{
						position: relative;
						background: url(../img/banner_header.png);
						background-size: 100% 100%;
						&::before{
							content:'';
							position: absolute;
							top: 0;
							right: -40px;
							bottom: 0;
							height: 100%;
							width: 30%;
							transform: skewX(-25deg);
							background: rgba(33, 58, 150, .5);
							z-index: 1;
						}
						&::after{
							content:'';
							position: absolute;
							top: 0;
							right: 20%;
							bottom: 0;
							height: 100%;
							width: 7%;
							transform: skewX(-25deg);
							background: #fff;
							z-index: 1;
						}
						.content_banner{
							position: relative;
							display: flex;
							height: 100%;
							justify-content: space-around;
							align-items: flex-end;
							&::before{
								content:'';
								position: absolute;
								top: 0;
								right: 27%;
								bottom: 0;
								height: 100%;
								width: 5%;
								transform: skewX(-25deg);
								background: rgba(244, 0, 80, .7);
								z-index: 1;
							}
							.img{
								width: 20%;
								img{
									width: 100%;
									height: 100%;
									object-fit: contain;
									position: relative;
									z-index: 2;
								}
							}
							.content{
									position: relative;
									z-index: 2;
									display: flex;
									flex-wrap: wrap;
									padding: 0%;
									width: 100%;
									margin: auto 0;
								.box{
									display: flex;
									width: 50%;
									height: 100%;
									align-items: center;
									font-size: calc(4px + 12*(100vw / 1920));
									color: #213A96;
									line-height: 1.5em;
									.img_border{
										margin: 0 10px;
										.box_img{
											min-width: 30%;
										}
									}
									
								}
							}
						}
					}
				}
			}
		}
	}
}
.sector_mein{
	display: flex;
	justify-content: space-between;
	height: 100%;
	#sidebar{
		.products{
			height: 60px;
			background: #213A96;
			padding: 16px 20px;
			display: flex;
			align-items: center;
			img{
				width: 100%;
			}
			p{
				color: #fff;
				font-size: calc(8px + 12*(100vw / 1920));
				font-weight: 700;
			}
		}
		.delivery{
			.col{
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
		}
		.play{
			height: 60px;
			display: flex;
			align-items: center;
			img{
				width: 100%;
			}
		}
		.accordion{
			.accordion-item{
				.accordion-header{
					background: #E5EEFF;
					height: 60px;
					.accordion-button{
						box-shadow: none;
						color: #213A96;
						text-transform: uppercase;
						border: none;
						font-size: calc(8px + 12*(100vw / 1920));
					}
				}
				.accordion-collapse{
					border: none;
					.accordion-body{
						.product_sidebar{
							display: flex;
							height: 100%;
							align-items: center; 
							.link_product{
								padding: 0 20px;
								font-size: calc(6px + 10*(100vw / 1920));
								text-decoration: none;
								color: #213A96;
								transition: all .3s;
								&:hover{
									color: #000060;
								}
							}
						}
					}
				}
			}
		}
	}
	.section{
		.slide{
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.carousel-inner{
				.carousel-item{
					.d-block{
						float: right;
						.img_block{
							padding: 10px 0px;
							height: 60px;
							display: flex;
							align-items: center;
							justify-content: center;
							img{
								width: 100%;
								object-fit: scale-down;
							}
						}
					}
				}
			}
			.carousel-control-prev{
				display: none;
			}
			.carousel-control-next{
				display: none;
			}
		}
		.section{
			.product{
				.product_block{
					border: 1px solid #E5EEFF;
					text-align: center;
					.img_product{
						position: relative;
						img{
							width: 70%;
						}
						.discount{
							position: absolute;
							top: 25%;
							left: 8%;
							background: #213A96;
							width: 40px;
							height: 40px;
							border-radius: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							p{
								color: #fff;
							}
						}
					}
					.product_footer{
						background: #E5EEFF;
						text-align: center;
						.poduct_name{
							font-size: calc(8px + 14*(100vw / 1920));
						}
						button{
							margin-top: 10px;
							display: flex;
							width: 100%;
							height: 40px;
							border: none;
							background: linear-gradient( 90deg, #F40050, #FF7E76);
							align-items: center;
							justify-content: center;
							transition: all .3s;
							&:hover{
								transition: all .3s;
								box-shadow: 0px 0px 10px #F40050;
							}
							.cart_button{
								border-radius: 100%;
								background: rgba(255, 255, 255, .3);
								width: 30px;
								height: 30px;
								display: flex;
								align-items: center;
								justify-content: center;
								margin-right: 10px;
								img{
									width: 50%;

								}
							}
							p{
								color: #fff;
								font-size: calc(6px + 10*(100vw / 1920));
							}
						}
					}
					transition: all .3s;
					&:hover{
						transition: all 0.3s;
						border: 1px solid #213A96;
						box-shadow: 0 0 10px #000;
					}
				}
			}
		}
		.article{
			.title_content{
				font-size: calc(10px + 40*(100vw / 1920));
				margin: 40px 0;
				&::first-letter{
					font-size: 2.5em;
					float: left;
					text-transform: uppercase;
					color: #F40050;
				}
			}
			.block{
				.title_block{
					box-shadow: 0px 2px 0px #E5EEFF;
					.bg_img{
						background: #E5EEFF;
						width: 80px;
						height: 100%;
						float: left;
						margin-right: -30px;
						img{
							display: block;
						}
					}
					h3{
						font-size: 24px;
						line-height: 40px;
					}
				}
				.title_block_list{
					h4{
						font-size: 18px;
						line-height: 1.5em;
					}
				}
				.block_content_list{
					padding: 40px 0px;
					.list{
						.list-item{
							padding: 5px 0px;
							display: flex;
							font-size: 16px;
							line-height: 1.5em;
							.arrow{
								display: flex;
								align-items: center;
								justify-content: center;
								margin-right: 20px;
								min-width: 30px;
								height: 30px;
								background: #213A96;
								border-radius: 100%;
							}
						}
					}
				}
				.block_content{
					padding: 40px 0px;
					.content{
						font-size: calc(10px + 6*(100vw / 1920));
						line-height: 1.5em;
					}

				}
				.block_img{
					img{
						width: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}
}
.footer{
	background: #213A96;
	color: #fff;
	.block_footer{
		padding: 40px 0px;
		.menu_bottom{
			.menu-list{
				.menu-item{
					.menu-item-link{
						display: block;
						font-size: 14px;
						color: #fff;
						text-decoration: none;
						padding: 5px 0px;
					}
				}
			}
		}
		img{
			width: 100%;
		}
		.copyright{
			font-size: 12px;
			color: #607CE5;
			line-height: 1.5em;
		}
	}
}
@media all and (max-width: 1600px){
	.wrapper{
		width: 75%;
	}
}
@media all and (max-width: 1200px){
	.wrapper{
		width: 80%;
	}
}
@media all and (max-width: 991px){
	.wrapper{
		width: 90%;
	}
	.header{
		position: relative;
		background: url('../img/header_background.png');
		background-size: 100% 100%;
		z-index: 1;
		.logo_and_menu{	
			.navbar{
				.container-fluid{
					.navbar-toggler{
						position: fixed;
						z-index: 9999;
						top: 20px;
						border: none;
						color: transparent;
						.navbar-toggler-icon{
							background-image: url(../img/menu.png);
						}
					}
					.collapsing{
						position: fixed;
						top: 0;
						left: 0;
						z-index: 999;
						background: #213A96;
						height: 0vh;
					}
					.show{
						width: 100%;
						height: 100vh;
						position: fixed;
						top: 0;
						left: 0;
						z-index: 999;
						background: #213A96;
						overflow: auto;
					}
					.navbar-collapse{
						justify-content: flex-end;
					}
					.navbar-nav{
						flex-direction: column;
						height: 100vh;
						.nav-item{
							display: flex;
							align-items: center;
							justify-content: center;
							.nav-link{
								color: #fff;
								font-size: 36px;
								line-height: 1.5em;
							}
						}
							.login{
								display:none;
							}
						.logo_mobile{
							display: flex;
							padding: 40px;
							background: #fff;
						}
						.login_cart{
							margin: 40px 0px;
							display: flex;
							justify-content: space-evenly;
							.cart_login_block{
								display: flex;
								align-items: center;
								height: 60px;
								.cart{
									border: none;
									position: relative;
									width: 60px;
									height: 100%;
									display: flex;
									align-items: center;
									justify-content: center;
									background: linear-gradient( 180deg, #F40050, #FF7E76);
									transition: all .3s;
									&:hover{
										transition: all .3s;
										box-shadow: 0px 0px 20px #F40050;
									}
									.quantity{
										width: 15px;
										height: 15px;
										position: absolute;
										top: 2px;
										right: 2px;
										border-radius: 100%;
										background: #213A96;
										color: #fff;
										font-size: 8px;
										line-height: 15px;
										text-align: center;
									}
								}
								.money{
									background: linear-gradient( 90deg, #fff, rgba(255, 255, 255, .5));
									width: 200px;
									height: 100%;
									display: flex;
									align-items: center;
									flex-direction: column;
									justify-content: center;
									padding: 10px;
									p{
										font-size: calc(6px + 14*(100vw / 1920));
										font-weight: 900;
										line-height: 1.2em;
									}
									span{
										color: #7189C2;
										font-size: 10px;
									}
								}
							}
							.nav-link{
								font-size: calc(4px + 10*(100vw / 1920));
								color: #213A96;
							}
						}
					}
					.contacts{
						display: flex;
						justify-content: center;
						align-items: center;
						background: url(../img/flag.png);
						background-size: 100% 100%;
						.support_img{
							width: 200px;
							height: 200px;
							background: linear-gradient( 180deg, #fff, rgba(255, 255, 255, .5));
							text-align: center;
							padding: 50px;
							.support_title{
								font-size: 22px;
								line-height: 1.2em;
								color: #213A96;
							}
							.support_time{
								font-size: 16px;
								color: #213A96;
							}
						}
						.support_tell{
							padding: 0px 10px;
							color: #213A96;
							font-size: 40px;
							line-height: 1.5em;
							font-weight: 700;
							background: ( rgba(255, 255, 255, .3));
						}
					}
				}
			}
		}
	}
}
	@media all and (max-width: 767px){
		.wrapper{
			width: 60%;
		}
		.header{
			.logo_and_menu{	
				.navbar{
					.container-fluid{
						.contacts{
							display: flex;
							height: 100%;
							justify-content: center;
							align-items: center;
							background: url(../img/flag.png);
							background-size: 100% 100%;
							.support_img{
								width: 150px;
								height: 150px;
								padding: 20px;
								.support_title{
									font-size: 22px;
									line-height: 1.2em;
									color: #213A96;
								}
								.support_time{
									font-size: 16px;
									color: #213A96;
								}
							}
							.support_tell{
								font-size: 32px;
							}
						}
					}
				}
			}
			.content_header{
				display: flex;
				justify-content: space-between;
				.left_block{
					display: none;
				}
				.baner{
					padding-left: 0px;
					width: 100%;
					
				}
			}
		}
		.sector_mein{
			flex-direction: column-reverse;
			#sidebar{
				.products{
					height: 30px;
					display: flex;
					align-items: center;
					p{
						font-size: 14px;
					}
				}
				.play{
					height: 60px;
					display: flex;
					align-items: center;
					img{
						width: 100%;
					}
				}
				.accordion{
					.accordion-item{
						.accordion-header{
								background: #E5EEFF;
								height: 30px;
								display: flex;
								align-items: center;
								padding: 16px 20px;
							button{
								padding: 0;
							}
							.accordion-button{
								font-size: 12px;
							}
						}
						.accordion-collapse{
							.accordion-body{
								.product_sidebar{
									.link_product{
										font-size: 12px;
									}
								}
							}
						}
					}
				}
			}
			.section{
				width: 100%;
				.section{
					.product{
						.product_block{
							.img_product{
								img{
									width:50%;
								}
								.discount{
									top: 20%;
									left: 20%;
									width: 30px;
									height: 30px;
								}
							}
							.product_footer{
								.poduct_name{
									font-size: 16px;
								}
								button{
									p{
										font-size: 16px;
									}
								}
							}
						}
					}
				}
				.article{
					.block{
						.title_block{
							h3{
								font-size: 16px;
								line-height: 20px;
							}
						}
						.title_block_list{
							h4{
								font-size: 16px;
							}
						}
						.block_content_list{
							padding: 10px 0px;
							.list{
								.list-item{
									font-size: 14px;
								}
							}
						}
						.block_content{
							padding: 20px 0px;

						}
					}
				}
			}
		}
	}
	@media all and (max-width: 575px){
		.wrapper{
			width: 90%;
		}
		.header{
			.logo_and_menu{	
				.navbar{
					.container-fluid{
						.navbar-toggler{
							right: 5%;
						}
						.navbar-nav{
							.nav-item{
								.nav-link{
									font-size: 16px;
								}
							}
							.logo_mobile{
								padding: 20px;
							}
							.login_cart{
								margin: 20px 0px;
					.cart_login_block{
						width: 150px;
						height: 40px;
						.cart{
							.quantity{
								width: 15px;
								height: 15px;
								font-size: 8px;
								line-height: 15px;
							}
						}
						.money{
							padding: 5px;
							height: 100%;
							width: 100%;
							p{
								font-size: 10px;
							}
							span{
								font-size: 8px;
							}
						}
					}
							}
						}
					.contacts{
						display: flex;
						height: 100%;
						justify-content: center;
						align-items: center;
						background: url(../img/flag.png);
						background-size: 100% 100%;
						.support_img{
							width: 100px;
							height: 100px;
							background: linear-gradient( 180deg, #fff, rgba(255, 255, 255, .5));
							text-align: center;
							padding: 5px;
							.support_title{
								font-size: 16px;
							}
							.support_time{
								font-size: 12px;
								color: #213A96;
							}
						}
						.support_tell{
							font-size: 16px;
						}
					}
					}
				}
			}
		}
		.footer{
			.block_footer.col-sm-9{
				padding: 0px 0px 10px 0px;
			}
		}
	}