@import "reset.css";
body {
  font-family: "Open Sans", sans-serif;
}

.logo {
  padding-right: 25px;
}
.logo h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}
.logo h1 span {
  color: #fa7c30;
}

button {
  margin-top: 3%;
  width: 170px;
  height: 45px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  background: #fa7c30;
  transition: all 0.3s ease 0s;
}
button:hover {
  transition: all 0.3s ease 0s;
  color: #000;
  background: #fa4c30;
}

.title h3 {
  font-size: 36px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
}
.title h3 span {
  color: #fa7c30;
}
.title .title_sub {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 50px;
}

.wrapper {
  width: 70%;
  margin: 0px auto;
}

header {
  position: relative;
  height: 950px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
header nav {
  padding: 30px 30px;
  display: flex;
}
header nav .menu_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header nav .menu_top .logo_menu {
  display: none;
}
header nav .menu {
  display: flex;
  height: 100%;
  align-items: center;
}
header nav .menu .item_link {
  display: block;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 25px;
  text-decoration: none;
  transition: all 0.5s;
}
header nav .menu .item_link:hover {
  transition: all 0.5s;
  color: #fa7c30;
  box-shadow: 0px 0px 2px 2px #fff;
}
header nav .burger_bar {
  display: none;
}
header .banner .banner_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
header .banner .text {
  padding-top: 5%;
}
header .banner .text .beautiful_body {
  font-size: 70px;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
}
header .banner .text .beautiful_body span {
  color: #fa7c30;
}
header .banner .text .little_text {
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
header .banner .order {
  display: flex;
  background: #fff;
  margin-top: 12%;
  box-shadow: 0 0 30px #000;
}
header .banner .order .order_box_img {
  width: 30%;
}
header .banner .order .order_box_img img {
  width: 100%;
  height: 100%;
}
header .banner .order .order_box_text {
  width: 70%;
  text-align: center;
}
header .banner .order .order_box_text .free_days {
  padding: 70px 0px 30px 0px;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
header .banner .order .order_box_text .online_bookin {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
header .banner .order .order_box_text .form {
  width: 100%;
  padding: 5% 0 3% 0;
  display: flex;
  justify-content: center;
}
header .banner .order .order_box_text .form .people_time {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .banner .order .order_box_text .form .people_time input {
  width: 30%;
  border: none;
  border-bottom: 1px solid #000;
  height: 50px;
}

.welcome_fitnes {
  height: 1300px;
  background: #f1f4f6;
  display: flex;
  align-items: center;
}
.welcome_fitnes .content_about {
  display: flex;
  justify-content: space-between;
  padding-top: 20%;
}
.welcome_fitnes .content_about .about_text {
  width: 50%;
  padding-top: 10%;
}
.welcome_fitnes .content_about .about_text h3 {
  font-size: 36px;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
}
.welcome_fitnes .content_about .about_text h3 span {
  color: #fa7c30;
}
.welcome_fitnes .content_about .about_text .text_1 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 2em;
}
.welcome_fitnes .content_about .about_text .text_2 {
  font-family: "Open Sans", sans-serif;
  padding-top: 20px;
  font-size: 14px;
  line-height: 2em;
}
.welcome_fitnes .content_about .about_img {
  width: 50%;
  margin-right: -15%;
}
.welcome_fitnes .content_about .about_img img {
  width: 100%;
}

.programm {
  margin: 80px 0px;
}
.programm .section_programm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.programm .section_programm .section {
  width: calc(33.333% - 20px);
  background: #f1f4f6;
}
.programm .section_programm .section img {
  width: 100%;
}
.programm .section_programm .section .about_programm {
  padding: 30px;
}
.programm .section_programm .section .about_programm .title_programm {
  font-size: 26px;
  font-weight: 900;
}
.programm .section_programm .section .about_programm .text_programm {
  padding: 10px 0px 40px 0px;
  font-size: 16px;
  line-height: 1.5em;
}

.personale_traiber {
  position: relative;
}
.personale_traiber img {
  width: 100%;
}
.personale_traiber .trainer_width {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.personale_traiber .trainer_width .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
}
.personale_traiber .trainer_width .content h3 {
  font-size: 36px;
}
.personale_traiber .trainer_width .content p {
  font-size: 70px;
  line-height: 1.5em;
  font-weight: 900;
}

.trainers {
  margin: 80px 0px;
}
.trainers .section_trainers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;
}
.trainers .section_trainers .section {
  width: calc(33.333% - 30px);
}
.trainers .section_trainers .section img {
  width: 100%;
}
.trainers .section_trainers .section .about_programm {
  padding-top: 30px;
  text-align: center;
}
.trainers .section_trainers .section .about_programm .name_trainer {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.5em;
}
.trainers .section_trainers .section .about_programm .trainer_prof {
  font-size: 14px;
  color: #fa7c30;
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 30px;
}
.trainers .section_trainers .section .about_programm .trainer_info {
  font-size: 16px;
  line-height: 1.5em;
}

.media .media_content {
  display: flex;
}
.media .media_content .sector {
  position: relative;
  width: 50%;
}
.media .media_content .sector img {
  width: 100%;
}
.media .media_content .sector .content_media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-transform: uppercase;
}
.media .media_content .sector .content_media .title_media {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.media .media_content .sector .content_media .info_media {
  font-size: 46px;
  font-weight: 900;
  padding: 3% 0;
}

.footer {
  width: 100%;
  height: 100%;
  background: #161418;
  color: #fff;
}
.footer .footer_content {
  padding: 75px 0px;
  display: flex;
}
.footer .footer_content .folow_us {
  width: 45%;
}
.footer .footer_content .folow_us .logo {
  padding: 30px 0px;
}
.footer .footer_content .folow_us .about_company {
  font-size: 14px;
  line-height: 2em;
  padding: 0px 55px 30px 0px;
}
.footer .footer_content .folow_us .social_icons {
  padding: 30px 0px;
  font-size: 15px;
}
.footer .footer_content .folow_us .social_icons a {
  padding: 0px 5px;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.footer .footer_content .folow_us .social_icons a:hover {
  transition: all 0.3s ease 0s;
  color: #fa7c30;
}
.footer .footer_content .folow_us .subscribe .email {
  width: 230px;
  height: 40px;
  padding: 0 5px;
  border: none;
}
.footer .footer_content .folow_us .subscribe .button_subscribe {
  width: 150px;
  height: 40px;
  color: #fff;
  background: #fa7c30;
  border: none;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.3s ease 0s;
}
.footer .footer_content .folow_us .subscribe .button_subscribe:hover {
  transition: all 0.3s ease 0s;
  color: #000;
  background: #fa4c30;
}
.footer .footer_content .blogs {
  width: 30%;
}
.footer .footer_content .blogs .title_box {
  padding-bottom: 15px;
  text-transform: uppercase;
}
.footer .footer_content .blogs .blogs_block {
  display: flex;
  padding: 30px 0px 0px 0px;
}
.footer .footer_content .blogs .blogs_block img {
  width: 100%;
  height: 100%;
}
.footer .footer_content .blogs .blogs_block p {
  padding: 20px 0px 20px 20px;
  line-height: 1.5em;
  font-size: 14px;
}
.footer .footer_content .instagram {
  width: 25%;
  padding: 0px 0px 0px 30px;
}
.footer .footer_content .instagram .title_box {
  padding-bottom: 15px;
  text-transform: uppercase;
}
.footer .footer_content .instagram .insta_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .footer_content .instagram .insta_block img {
  width: calc(33.333% - 2px);
  margin-bottom: 3px;
}
.footer .footer_content .instagram .more_fotos_instagram {
  padding-top: 20px;
}
.footer .footer_content .instagram .more_fotos_instagram a {
  color: #fff;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.footer .footer_content .instagram .more_fotos_instagram a:hover {
  transition: all 0.3s ease 0s;
  color: #fa7c30;
}
.footer .copyright {
  text-align: center;
  color: #fa7c30;
  line-height: 1.5em;
  font-size: 12px;
}
.footer .copyright a {
  color: #fa7c30;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.footer .copyright a:hover {
  transition: all 0.3s ease 0s;
  color: #EA4335;
}

@media all and (max-width: 1600px) {
  .welcome_fitnes {
    height: 1000px;
  }
}
@media all and (max-width: 1400px) {
  .logo h1 {
    font-size: 28px;
  }

  button {
    width: 160px;
    height: 40px;
  }

  .title h3 {
    font-size: 36px;
  }

  header {
    height: 750px;
  }
  header nav .menu .item_link {
    font-size: 14px;
    padding: 10px 20px;
  }
  header .banner .text .beautiful_body {
    font-size: 62px;
  }
  header .banner .order .order_box_text .free_days {
    padding: 50px 0px 20px 0px;
    font-size: 22px;
  }
  header .banner .order .order_box_text .online_bookin {
    font-size: 32px;
  }
  header .banner .order .order_box_text .form .people_time input {
    height: 40px;
  }

  .footer .footer_content {
    padding: 50px 0px;
    display: flex;
  }
  .footer .footer_content .folow_us .subscribe .email {
    width: 180px;
    font-size: 14px;
  }
  .footer .footer_content .folow_us .subscribe .button_subscribe {
    width: 120px;
    font-size: 14px;
    letter-spacing: 1.5px;
  }
  .footer .footer_content .blogs .title_box {
    padding-bottom: 10px;
  }
  .footer .footer_content .blogs .blogs_block {
    padding: 20px 0px 0px 0px;
  }
  .footer .footer_content .blogs .blogs_block p {
    padding: 10px 0px 10px 10px;
    line-height: 1.5em;
    font-size: 12px;
  }
  .footer .copyright {
    text-align: center;
    color: #fa7c30;
    line-height: 1.5em;
    font-size: 12px;
  }
  .footer .copyright a {
    color: #fa7c30;
    text-decoration: none;
    transition: all 0.3s ease 0s;
  }
  .footer .copyright a:hover {
    transition: all 0.3s ease 0s;
    color: #EA4335;
  }
}
@media all and (max-width: 1140px) {
  .logo {
    padding-right: 20px;
  }
  .logo h1 {
    font-size: 24px;
  }

  button {
    width: 120px;
    height: 35px;
    font-size: 12px;
    letter-spacing: 1.5px;
  }

  .title h3 {
    font-size: 28px;
  }
  .title .title_sub {
    font-size: 12px;
    padding-bottom: 30px;
  }

  .wrapper {
    width: 80%;
  }

  header {
    height: 560px;
  }
  header nav {
    padding: 20px 20px;
  }
  header nav .menu_top {
    padding: 20px;
  }
  header nav .menu .item_link {
    font-size: 12px;
    padding: 10px 20px;
  }
  header .banner .text {
    padding-top: 2%;
  }
  header .banner .text .beautiful_body {
    font-size: 48px;
    line-height: 1.5em;
  }
  header .banner .text .little_text {
    font-size: 14px;
  }
  header .banner .order .order_box_text {
    width: 70%;
    text-align: center;
  }
  header .banner .order .order_box_text .free_days {
    padding: 30px 0px 30px 0px;
    font-size: 22px;
  }
  header .banner .order .order_box_text .online_bookin {
    font-size: 32px;
  }

  .welcome_fitnes {
    height: 750px;
  }
  .welcome_fitnes .content_about {
    padding-top: 25%;
  }
  .welcome_fitnes .content_about .about_text {
    width: 50%;
    padding-top: 10%;
  }
  .welcome_fitnes .content_about .about_text h3 {
    font-size: 28px;
  }
  .welcome_fitnes .content_about .about_text .text_1 {
    font-size: 12px;
  }
  .welcome_fitnes .content_about .about_text .text_2 {
    font-size: 12px;
  }
  .welcome_fitnes .content_about .about_img {
    margin-right: -10%;
  }

  .programm {
    margin: 50px 0px;
  }
  .programm .section_programm .section {
    width: calc(33.333% - 10px);
  }
  .programm .section_programm .section .about_programm {
    padding: 20px;
  }
  .programm .section_programm .section .about_programm .title_programm {
    font-size: 22px;
  }
  .programm .section_programm .section .about_programm .text_programm {
    padding: 10px 0px 10px 0px;
    font-size: 14px;
  }

  .personale_traiber .trainer_width .content h3 {
    font-size: 22px;
  }
  .personale_traiber .trainer_width .content p {
    font-size: 36px;
  }

  .trainers {
    margin: 50px 0px;
  }
  .trainers .section_trainers .section {
    width: calc(33.333% - 15px);
  }
  .trainers .section_trainers .section .about_programm {
    padding-top: 20px;
  }
  .trainers .section_trainers .section .about_programm .name_trainer {
    font-size: 22px;
  }
  .trainers .section_trainers .section .about_programm .trainer_prof {
    font-size: 12px;
    padding-bottom: 20px;
  }
  .trainers .section_trainers .section .about_programm .trainer_info {
    font-size: 14px;
  }

  .media .media_content .sector .content_media .title_media {
    font-size: 16px;
  }
  .media .media_content .sector .content_media .info_media {
    font-size: 26px;
  }

  .footer {
    width: 100%;
    height: 100%;
  }
  .footer .footer_content {
    padding: 50px 0px;
  }
  .footer .footer_content .folow_us {
    width: 45%;
  }
  .footer .footer_content .folow_us .logo {
    padding: 30px 0px;
  }
  .footer .footer_content .folow_us .about_company {
    font-size: 14px;
    line-height: 2em;
    padding: 0px 55px 30px 0px;
  }
  .footer .footer_content .folow_us .social_icons {
    padding: 30px 0px;
    font-size: 15px;
  }
  .footer .footer_content .folow_us .social_icons a {
    padding: 0px 5px;
    color: #fff;
    transition: all 0.3s ease 0s;
  }
  .footer .footer_content .folow_us .social_icons a:hover {
    transition: all 0.3s ease 0s;
    color: #fa7c30;
  }
  .footer .footer_content .folow_us .subscribe .email {
    width: 120px;
    height: 40px;
    font-size: 12px;
  }
  .footer .footer_content .folow_us .subscribe .button_subscribe {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
  .footer .footer_content .blogs {
    width: 35%;
  }
  .footer .footer_content .blogs .blogs_block {
    padding: 20px 0px 0px 0px;
  }
  .footer .footer_content .blogs .blogs_block p {
    padding: 10px 0px 10px 10px;
    font-size: 12px;
  }
  .footer .footer_content .instagram {
    width: 20%;
    padding: 0px 0px 0px 20px;
  }
  .footer .footer_content .instagram .more_fotos_instagram {
    padding-top: 10px;
  }
  .footer .footer_content .instagram .more_fotos_instagram a {
    font-size: 12px;
  }
}
@media all and (max-width: 960px) {
  body.active_burger_bar {
    overflow: hidden;
  }

  .logo {
    padding-right: 20px;
  }
  .logo h1 {
    font-size: 24px;
  }

  button {
    width: 100px;
    height: 25px;
    font-size: 8px;
    letter-spacing: 1.5px;
  }

  .title h3 {
    font-size: 22px;
  }
  .title .title_sub {
    font-size: 12px;
    padding-bottom: 30px;
  }

  .wrapper {
    width: 80%;
  }

  header {
    height: 380px;
  }
  header nav {
    position: relative;
    padding: 20px 20px;
  }
  header nav .menu_top {
    position: fixed;
    top: 0;
    left: -115%;
    height: 100vh;
    display: block;
    padding: 20px;
    width: 100%;
    background: #382f27;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    overflow: auto;
    transition: all 0.5s ease 0s;
  }
  header nav .menu_top .logo_menu {
    display: block;
    padding-right: 20px;
  }
  header nav .menu_top .logo_menu h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 42px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
  }
  header nav .menu_top .logo_menu h1 span {
    color: #fa7c30;
  }
  header nav .menu_top .menu {
    display: block;
  }
  header nav .menu_top .menu li {
    padding: 10px 0px;
  }
  header nav .menu_top .menu li .item_link {
    display: inline;
    box-shadow: none;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  header nav .menu_top.active_burger_bar {
    transition: all 0.5s ease 0s;
    left: 0;
  }
  header nav .burger_bar {
    position: fixed;
    display: block;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
  }
  header nav .burger_bar span.line_menu {
    display: block;
    width: 100%;
    height: 2px;
    background: #fa7c30;
    margin-top: 45%;
  }
  header nav .burger_bar span.line_menu.active_burger_bar {
    display: none;
  }
  header nav .burger_bar::before, header nav .burger_bar::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 2px;
    background: #fa7c30;
  }
  header nav .burger_bar::before {
    top: 0;
  }
  header nav .burger_bar::after {
    bottom: 0;
  }
  header nav .burger_bar.active_burger_bar::before {
    transition: all 0.5s ease 0s;
    top: 14px;
    transform: rotate(45deg);
  }
  header nav .burger_bar.active_burger_bar::after {
    transition: all 0.5s ease 0s;
    bottom: 14px;
    transform: rotate(-45deg);
  }
  header .banner .text {
    padding-top: 2%;
  }
  header .banner .text .beautiful_body {
    font-size: 38px;
    line-height: 1em;
  }
  header .banner .text .little_text {
    font-size: 12px;
  }
  header .banner .order .order_box_text {
    width: 70%;
    text-align: center;
  }
  header .banner .order .order_box_text .free_days {
    padding: 20px 0px 10px 0px;
    font-size: 18px;
  }
  header .banner .order .order_box_text .online_bookin {
    font-size: 26px;
  }

  .welcome_fitnes {
    height: 640px;
  }
  .welcome_fitnes .content_about {
    padding-top: 25%;
  }
  .welcome_fitnes .content_about .about_text {
    width: 50%;
  }
  .welcome_fitnes .content_about .about_text h3 {
    font-size: 22px;
  }
  .welcome_fitnes .content_about .about_text .text_1 {
    font-size: 12px;
  }
  .welcome_fitnes .content_about .about_text .text_2 {
    font-size: 12px;
  }
  .welcome_fitnes .content_about .about_img {
    margin-right: -10%;
  }

  .programm {
    margin: 30px 0px;
  }
  .programm .section_programm .section .about_programm .title_programm {
    font-size: 18px;
  }
  .programm .section_programm .section .about_programm .text_programm {
    font-size: 12px;
  }

  .personale_traiber .trainer_width .content h3 {
    font-size: 18px;
  }
  .personale_traiber .trainer_width .content p {
    font-size: 28px;
  }

  .trainers {
    margin: 30px 0px;
  }
  .trainers .section_trainers .section .about_programm {
    padding-top: 10px;
  }
  .trainers .section_trainers .section .about_programm .name_trainer {
    font-size: 18px;
  }
  .trainers .section_trainers .section .about_programm .trainer_prof {
    font-size: 12px;
    padding-bottom: 10px;
  }

  .media .media_content .sector .content_media .title_media {
    font-size: 14px;
  }
  .media .media_content .sector .content_media .info_media {
    font-size: 22px;
  }

  .footer {
    width: 100%;
    height: 100%;
  }
  .footer .footer_content {
    padding: 50px 0px;
    flex-direction: column;
  }
  .footer .footer_content .folow_us {
    width: 100%;
  }
  .footer .footer_content .folow_us .logo {
    padding: 30px 0px;
  }
  .footer .footer_content .folow_us .about_company {
    font-size: 14px;
    line-height: 1.5em;
    padding: 0px 0px 30px 0px;
  }
  .footer .footer_content .folow_us .social_icons {
    padding: 30px 0px;
    font-size: 15px;
    line-height: 1.5em;
  }
  .footer .footer_content .folow_us .social_icons a {
    padding: 0px 5px;
    color: #fff;
    transition: all 0.3s ease 0s;
  }
  .footer .footer_content .folow_us .social_icons a:hover {
    transition: all 0.3s ease 0s;
    color: #fa7c30;
  }
  .footer .footer_content .folow_us .subscribe .email {
    width: 120px;
    height: 40px;
    font-size: 12px;
  }
  .footer .footer_content .folow_us .subscribe .button_subscribe {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
  .footer .footer_content .blogs {
    padding: 20px 0;
    width: 100%;
  }
  .footer .footer_content .blogs .title_box {
    display: inline;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .footer .footer_content .blogs .title_box:hover {
    transition: all 0.3s ease 0s;
    color: #fa7c30;
  }
  .footer .footer_content .blogs .blogs_block {
    display: none;
    padding: 20px 0px 0px 0px;
  }
  .footer .footer_content .blogs .blogs_block img {
    width: 30%;
  }
  .footer .footer_content .blogs .blogs_block p {
    padding: 20px 0px 20px 20px;
    font-size: 14px;
  }
  .footer .footer_content .blogs .blogs_block.active_block {
    transition: all 0.3s ease 0s;
    display: flex;
  }
  .footer .footer_content .instagram {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  .footer .footer_content .instagram .title_box {
    display: inline;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .footer .footer_content .instagram .title_box:hover {
    transition: all 0.3s ease 0s;
    color: #fa7c30;
  }
  .footer .footer_content .instagram .insta_block {
    display: none;
    margin-top: 20px;
  }
  .footer .footer_content .instagram .insta_block.active_block {
    transition: all 0.3s ease 0s;
    display: block;
  }
  .footer .footer_content .instagram .insta_block.active_block img {
    width: 19%;
  }
  .footer .footer_content .instagram .more_fotos_instagram {
    display: none;
    padding-top: 10px;
  }
  .footer .footer_content .instagram .more_fotos_instagram a {
    font-size: 14px;
  }
}
@media all and (max-width: 767px) {
  .logo {
    padding-right: 20px;
  }
  .logo h1 {
    font-size: 24px;
  }

  button {
    width: 95px;
    height: 25px;
    font-size: 8px;
    letter-spacing: 1px;
  }

  .title h3 {
    font-size: 22px;
  }
  .title .title_sub {
    font-size: 12px;
    padding-bottom: 30px;
  }

  header {
    height: 300px;
  }
  header .banner .text .beautiful_body {
    font-size: 26px;
  }
  header .banner .text .little_text {
    font-size: 10px;
  }
  header .banner .order .order_box_text {
    width: 70%;
    text-align: center;
  }
  header .banner .order .order_box_text .free_days {
    padding: 20px 0px 10px 0px;
    font-size: 16px;
  }
  header .banner .order .order_box_text .online_bookin {
    font-size: 22px;
  }
  header .banner .order .order_box_text .form .people_time input {
    height: 20px;
    font-size: 10px;
  }

  .welcome_fitnes {
    height: 100%;
    padding: 5% 0;
  }
  .welcome_fitnes .content_about {
    flex-direction: column-reverse;
  }
  .welcome_fitnes .content_about .about_text {
    width: 100%;
    padding: 0;
  }
  .welcome_fitnes .content_about .about_text h3 {
    font-size: 22px;
  }
  .welcome_fitnes .content_about .about_text .text_1 {
    font-size: 12px;
  }
  .welcome_fitnes .content_about .about_text .text_2 {
    font-size: 12px;
  }
  .welcome_fitnes .content_about .about_img {
    width: 30%;
    margin-right: 0;
  }

  .programm {
    margin: 30px 0px;
  }
  .programm .section_programm .section {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }
  .programm .section_programm .section img {
    width: 30%;
    object-fit: cover;
  }
  .programm .section_programm .section .about_programm .title_programm {
    font-size: 18px;
  }
  .programm .section_programm .section .about_programm .text_programm {
    font-size: 12px;
  }

  .personale_traiber .trainer_width .content h3 {
    font-size: 18px;
  }
  .personale_traiber .trainer_width .content p {
    font-size: 28px;
  }

  .trainers {
    margin: 30px 0px;
  }
  .trainers .section_trainers {
    flex-direction: column;
    align-items: center;
  }
  .trainers .section_trainers .section {
    width: 40%;
    margin-bottom: 20px;
  }
  .trainers .section_trainers .section .about_programm {
    padding-top: 10px;
  }
  .trainers .section_trainers .section .about_programm .name_trainer {
    font-size: 18px;
  }
  .trainers .section_trainers .section .about_programm .trainer_prof {
    font-size: 12px;
    padding-bottom: 10px;
  }

  .media .media_content {
    flex-direction: column;
  }
  .media .media_content .sector {
    width: 100%;
  }
  .media .media_content .sector .content_media .title_media {
    font-size: 22px;
  }
  .media .media_content .sector .content_media .info_media {
    font-size: 36px;
  }

  .footer .footer_content {
    padding: 20px 0px;
  }
  .footer .footer_content .folow_us .subscribe .email {
    width: 180px;
    height: 40px;
    font-size: 12px;
  }
  .footer .footer_content .folow_us .subscribe .button_subscribe {
    width: 120px;
    height: 40px;
    font-size: 12px;
  }
}
@media all and (max-width: 567px) {
  .logo h1 {
    font-size: 20px;
  }

  button {
    width: 80px;
    height: 20px;
    font-size: 6px;
  }

  .title h3 {
    font-size: 18px;
  }
  .title .title_sub {
    font-size: 12px;
    padding-bottom: 30px;
  }

  header {
    height: 200px;
  }
  header .banner .text .beautiful_body {
    font-size: 18px;
  }
  header .banner .text .little_text {
    font-size: 10px;
  }
  header .banner .order .order_box_text {
    width: 100%;
    text-align: center;
  }
  header .banner .order .order_box_text .free_days {
    padding: 10px 0px 5px 0px;
    font-size: 12px;
  }
  header .banner .order .order_box_text .online_bookin {
    font-size: 16px;
  }
  header .banner .order .order_box_text .form {
    padding: 5px;
  }
  header .banner .order .order_box_text .form .people_time input {
    height: 20px;
    font-size: 6px;
  }
  header .banner .order .order_box_text button {
    margin-bottom: 5px;
  }
  header .banner .order .order_box_img {
    display: none;
  }

  .welcome_fitnes {
    padding: 15% 0;
  }
  .welcome_fitnes .content_about .about_text h3 {
    font-size: 18px;
  }
  .welcome_fitnes .content_about .about_img {
    width: 30%;
    margin-right: 0;
  }

  .personale_traiber .trainer_width .content h3 {
    font-size: 16px;
  }
  .personale_traiber .trainer_width .content p {
    font-size: 22px;
  }

  .trainers .section_trainers .section {
    width: 60%;
  }
  .trainers .section_trainers .section .about_programm .name_trainer {
    font-size: 18px;
  }
  .trainers .section_trainers .section .about_programm .trainer_prof {
    font-size: 10px;
  }

  .media .media_content .sector .content_media .title_media {
    font-size: 16px;
  }
  .media .media_content .sector .content_media .info_media {
    font-size: 22px;
  }

  .footer .footer_content {
    padding: 10px 0px;
  }
  .footer .footer_content .folow_us .about_company {
    font-size: 12px;
  }
  .footer .footer_content .folow_us .subscribe .email {
    width: 130px;
    height: 40px;
    font-size: 12px;
  }
  .footer .footer_content .folow_us .subscribe .button_subscribe {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
}